@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fonts */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", serif;
}

.light {
  /* Colors */
  --color-primary: #010101;
  --color-secondary: #fefefe;
  --color-tertiary: #858585;
  --color-quaternary: #eee;
}

.dark {
  /* Colors */
  --color-primary: #fefefe;
  --color-secondary: #010101;
  --color-tertiary: #bbbbbb;
  --color-quaternary: #181818;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  -webkit-text-fill-color: var(--color-secondary);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 150ms ease-out;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

section {
  margin-bottom: 100px;
}

h1 {
  font-family: var(--font-secondary);
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 30px;
}

h3 {
  font-weight: 500;
  line-height: 1em;
}

h4 {
  color: var(--color-tertiary);
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  opacity: 0.6;
}

strong {
  font-weight: 500;
}

ul li {
  list-style: none;
  @apply mb-3;
}

.subtext {
  color: var(--color-tertiary);
}

a.cta {
  display: block;
  text-decoration: none;
  background-color: transparent;
  border-radius: 2em;
  color: #010101;
  border: 2px solid #010101;
  font-weight: 600;
  padding: 6px 14px;
  width: fit-content;
  cursor: pointer;
  transition: 300ms all;
}

a.cta:hover {
  background-color: #010101;
  color: #fefefe;
  opacity: 1;
}

a.cta:active {
  transform: scale(0.98);
}

.tag {
  border-radius: 2em;
  border: 2px solid var(--color-primary);
  font-weight: 600;
  padding: 5px 12px;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}

.tag:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.tag:active {
  transform: scale(0.98);
}

/* MENU */
nav {
  font-size: 0.9em;
  font-weight: 600;
  color: #010101;
  padding: 1em 0;
}

/* FOOTER */
footer {
  padding: 3em 0;
  text-align: center;
  background: var(--color-quaternary);
}

.txtgradient {
  background: linear-gradient(
    120deg,
    #f99d9d,
    #81e2c8,
    #e6f573,
    #f190da,
    #b468f7
  );
  background-size: 200% 100%;
  animation: pearlescent 6s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient {
  background: linear-gradient(
    120deg,
    #ffe5e5,
    #bfffee,
    #f3ff95,
    #ffbcf0,
    #d3a0ff
  );
  background-size: 200% 100%;
  animation: pearlescent 6s ease-in-out infinite;
}

@keyframes pearlescent {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
